.depoimento-card {
    width: 100%;
    min-height: 264px;
    display: flex;
    flex-direction: row;

    img {
        width: 264px;
        height: 264px;
        background-color: $cinza-200;
        border-radius: 0.25rem;
        margin-right: 1.5rem;
    }

    .depoimento-content {
        flex: 1;
        background-color: $branco-200;
        border-radius: 0.25rem;
        padding: 1.25rem;

        h6 {
            min-height: 2.0625rem;
        }

        p.depoimento-subtitle {
            @include sub2();
            color: $cinza-400;
            min-height: 1.25rem;
            margin-bottom: 1.125rem;
        }

        p.depoimento-body {
            @include body1();
            margin-bottom: 0.25rem;
        }
    }

    @media (max-width: $max-md) {
        .depoimento-content {
            p.depoimento-body {
                @include body1();
                margin-bottom: 1rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media (max-width: $max-sm) {
        flex-direction: column;
        align-items: center;

        .depoimento-content {
            h6 {
                margin-bottom: 0.5rem;
            }

            p.depoimento-subtitle {
                margin-bottom: 1.5rem;
            }
            
            min-height: 16.5rem;
        }

        img {
            margin-right: 0;
            margin-bottom: 1.125rem;

            //Caso especifico
            @media (max-width: 328px) {
                height: unset;
                width: 100%;
            }
        }
    }
}
