nav {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
    transition: ease-in 0.15s background-color;
    @include noselect();
    z-index: 1900 !important;

    .navbar-brand {
        display: flex;
        flex-direction: row;
        align-items: center;

        svg#nav-logo {
            width: 14.125rem;
            height: 2.5rem;
        }
        #nav-logo > path {
            fill: $branco-000;
            transition: ease-in 0.15s fill;
        }
    }

    ul {
        display: flex;
        margin-left: 16px;
        flex: 1;

        li > a {
            color: $branco-000;
            filter: opacity(0.8);
            transition: ease-in 0.15s filter;
            margin-right: 16px;
            flex: 1;

            &:hover {
                text-decoration: none;
                color: $branco-000;
                filter: opacity(1);
            }

            &:active {
                text-decoration: none;
                color: $branco-000;
                filter: opacity(1);
            }
        }

        //Font Style
        @include links();
    }

    .menu-items-mobile {
        display: none;
    }

    .nav-button {
        display: none;
    }

    @media (max-width: $max-md) {
        justify-content: space-between;

        #nav-button {
            display: none;
        }

        .menu-items {
            display: none;
        }

        .menu-items-mobile {
            display: flex;
        }
    }

    @media (max-width: $max-xs) {
        padding: 0 1rem;

        .navbar-brand {
            svg#nav-logo {
                width: 2.5rem;
                height: 2.5rem;
            }

            #nav-logo > path {
                display: none;

                &:nth-of-type(11),
                &:nth-of-type(12),
                &:nth-of-type(13) {
                    display: block;
                }
            }
        }
    }
}

nav.scrolled {
    background-color: $branco-000;
    border-bottom: 0.0313rem solid $cinza-000;

    .navbar-brand > #nav-logo > path {
        fill: $preto-000;
    }

    ul > li > a {
        color: $cinza-600;
        transition: ease-in 0.15s filter, ease-in 0.15s color;
        margin-right: 16px;

        &:hover {
            text-decoration: none;
            color: $vinho-000;
        }
    }

    .active {
        text-decoration: none;
        color: $vinho-000;
        filter: opacity(1);
    }

    .nav-button {
        justify-self: flex-end;
        display: flex;
        transition: ease-in 0.15s display, ease-in 0.15s filter;
    }
}

