.pergunta-container {
    .pergunta-title {
        font-weight: bold;
        cursor: pointer;
        min-height: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 0.8px solid $cinza-000;

        h6 {
            flex: 1;
            color: $cinza-200;
            transition: color 0.15s ease-in-out;
        }

        svg {
            transition: ease-in-out 0.2s transform;
            transform: rotate(-180deg);
            z-index: 0;
            position: relative;

            path {
                position: relative;
                fill: $cinza-200;
                transition: fill 0.15s ease-in-out;
                z-index: 0;
            }
        }
    }

    &:hover {
        .pergunta-title > svg > path {
            fill: $preto-000;
        }

        .pergunta-title h6 {
            color: $preto-000;
        }
    }

    @media (max-width: $max-md) {
        .pergunta-title {
            padding: 1.5rem 0;

            svg {
                margin-left: 1rem;
            }
        }
    }
}

.resposta-content {
    display: none;
    transition: display 0.15s ease-in-out;
}

.open .resposta-content {
    display: block;
    padding: 2.25rem;
    @include body1();

    @media (max-width: $max-md){
        padding: 2.25rem 2rem;
    }

    @media (max-width: $max-xs){
        padding: 2.25rem 1rem;
    }
}

.open .pergunta-title h6 {
    color: $preto-000;
}

.open .pergunta-title svg {
    transform: rotate(0);

    path {
        fill: $preto-000;
    }
}
