#chat-brand-section {
    min-height: 48rem;

    .container {
        display: flex;
        padding: 3rem 0 6rem 0;
        flex-direction: column;
        align-items: center;

        h3 {
            min-height: 2.625rem;
            margin-bottom: 1.25rem;
            max-width: 34.5rem;
            text-align: center;
        }

        > p {
            @include sub1();
            min-height: 2.625rem;
            max-width: 34.5rem;
            text-align: center;
            margin-bottom: 5.5rem;
        }

        img {
            width: 22.5rem;
            margin-bottom: 5.5rem;
        }
    }
}
