#duvidas-section{
    min-height: fit-content;

    .container{
        padding: 6rem 0;

        h3{
            margin-bottom: 8.75rem;
        }
    }

    @media (max-width: $max-md){
        .container{
            padding: 6rem 1.5rem;
        }
    }
}