#principal-section {
    background-color: $vinho-000;
    display: flex;
    flex-direction: column;
    min-height: 50rem;
    width: 100%;
    padding-top: 6rem;

    @include linear-gradient(90deg, rgba(255, 255, 255, 0) 1.35%, rgba(255, 255, 255, 0.12) 100%);

    .container {
        height: 44rem;
        color: $branco-000;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;

        .principal-conteudo {
            width: 34.4375rem;
            flex: 1;

            h4 {
                min-height: 3rem;
                margin-bottom: 1rem;
            }

            p {
                min-height: 5.125rem;
                margin-bottom: 1rem;
                letter-spacing: 0.025rem;
                @include body1();
            }

            h4,
            p {
                width: 100%;
            }

            .principal-btns{
                display: flex;
                align-items: center;

                span{
                    margin: 0 16px;
                }
            }
        }

        img {
            flex: 1;
            max-width: 34.2869rem;
            margin-left: 1.5rem;
        }
    }

    @media (max-width: $max-md) {
        padding: 6rem 0;

        .container {
            flex-direction: column-reverse;
            padding: 0 1.5rem;

            img {
                margin: 4rem 0;
            }
        }
    }

    @media (max-width: $max-md) {
        .container {
            flex-direction: column-reverse;

            img {
                width: 100%;
            }

            .principal-conteudo {
                width: 100%;

                h4 {
                    margin-bottom: 2rem;
                }
    
                p {
            
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
