#principal-section {
    background-color: $vinho-000;
    display: flex;
    flex-direction: column;
    height: 50rem;
    width: 100%;
    padding-top: 6rem;

    @include linear-gradient(90deg, rgba(255, 255, 255, 0) 1.35%, rgba(255, 255, 255, 0.12) 100%);

    .container {
        height: 100%;
        color: $branco-000;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        .principal-conteudo {
            width: 34.4375rem;
            flex: 1;

            h4{
                min-height: 3rem;
                margin-bottom: 1rem;
            }

            p {
                min-height: 5.125rem;
                margin-bottom: 1rem;
                text-align: justify;
                @include body1();
            }

            h4, p{
                width: 100%;
            }
        }

        img{
            flex: 1;
            max-width: 34.2869rem;
            margin-left: 1.5rem;
        }
    }
}
