.login-brand {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    .login-brand-text-container {
        margin-bottom: 6rem;
    }

    img {
        max-width: 552px;
        width: 100%;
    }

    @media (max-width: $max-md) {
        display: none;
    }

    @media (max-height: 50rem) {
        img {
            width: 70%;
        }
    }
}

.login-principal-container {
    flex: 1;

    .login-form-container {
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .login-form-header {
            > h2 {
                margin-top: 6rem;
            }
            > h2,
            > p {
                width: 22.5rem;
            }

            > p {
                margin-bottom: 1.75rem;
            }
        }

        #form-footer {
            margin-top: 1rem;
        }
    }

    .login-btn {
        width: 100%;
    }

    input {
        margin-bottom: 12px;
    }

    .register-login {
        border: 0.05rem solid $cinza-200;
        border-radius: 0.25rem;
        width: 22.5rem;
        height: 3.5rem;
        padding: 1rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include links();

        a {
            color: $vinho-000;
        }
    }

    .close-alert {
        width: 22.5rem;
        margin-bottom: 32px;
    }

    @media (max-width: $max-md) {
    }

    @media (max-width: $max-sm) {
        input {
            width: 100%;
        }

        .register-login {
            width: 100%;
            max-width: 22.5rem;
        }

        .login-form-container {
            .login-form-header {
                > h2,
                > p {
                    width: 100%;
                    max-width: 22.5rem;
                }
            }
        }
    }

    @media (max-height: 50rem) {
        .login-form-container {
            .login-form-header {
                > h2 {
                    margin-top: 0;
                }

                > h2,
                > p {
                    width: 100%;
                    max-width: 22.5rem;
                }
            }
        }
    }
}
