//Is a open source alternative for SF font
@import url("https://rsms.me/inter/inter.css");

$font-family: "Inter", sans-serif;

html {
    font-family: $font-family;
}

$h1-font-size: 3.5rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2.125rem;
$h5-font-size: 1.75rem;
$h6-font-size: 1.625rem;
$sub1-font-size: 1.0625rem;
$sub2-font-size: 0.9375rem;
$body1-font-size: 1.0625rem;
$body2-font-size: 1.0625rem;
$btn-font-size: 0.75rem;
$links-font-size: 0.875rem;
$caption-font-size: 0.75rem;
$overline-font-size: 0.625rem;

$h1-line-height: 4.125rem;
$h2-line-height: 3.5625rem;
$h3-line-height: 3rem;
$h4-line-height: 2.5625rem;
$h5-line-height: 2.125rem;
$h6-line-height: 2rem;
$sub1-line-height: 1.375rem;
$sub2-line-height: 1.25rem;
$body1-line-height: 1.375rem;
$body2-line-height: 1.375rem;
$btn-line-height: 0.875rem;
$links-line-height: 1.0625rem;
$caption-line-height: 1rem;
$overline-line-height: 0.75rem;

h1 {
    font-weight: bold;
    font-size: $h1-font-size;
    line-height: $h1-line-height;
}

h2 {
    font-weight: bold;
    font-size: $h2-font-size;
    line-height: $h2-line-height;
}

h3 {
    font-weight: bold;
    font-size: $h3-font-size;
    line-height: $h3-line-height;
}

h4 {
    font-weight: bold;
    font-size: $h4-font-size;
    line-height: $h4-line-height;
}

h5 {
    font-weight: bold;
    font-size: $h5-font-size;
    line-height: $h5-line-height;
}

h6 {
    font-weight: bold;
    font-size: $h6-font-size;
    line-height: $h6-line-height;
}

@mixin sub1(){
    font-weight: 500;
    font-size: $sub1-font-size;
    line-height: $sub1-line-height;
}

@mixin sub2(){
    font-weight: bold;
    font-size: $sub2-font-size;
    line-height: $sub2-line-height;
}

@mixin body1(){
    font-weight: normal;
    font-size: $body1-font-size;
    line-height: $body1-line-height;
}

@mixin body2(){
    font-weight: 500;
    font-size: $body2-font-size;
    line-height: $body2-line-height;
}

@mixin links(){
    font-weight: 500;
    font-size: $links-font-size;
    line-height: $links-line-height;
}

@mixin btn-font(){
    font-weight: 900;
    font-size: $btn-font-size;
    line-height: $btn-line-height;
}

@mixin caption(){
    font-weight: 500;
    font-size: $caption-font-size;
    line-height: $caption-line-height;
}

@mixin overline(){
    font-weight: 200;
    font-size: $overline-font-size;
    line-height: $overline-line-height;
}