//Is a open source alternative for SF font
@import url("https://rsms.me/inter/inter.css");

$font-family: "Inter", sans-serif;

html {
    font-family: $font-family;
}

$h1-font-size: 3.5rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2.125rem;
$h5-font-size: 1.75rem;
$h6-font-size: 1.625rem;
$sub1-font-size: 17px;
$sub2-font-size: 15px;
$body1-font-size: 17px;
$body2-font-size: 17px;
$btn-font-size: 12px;
$links-font-size: 14px;
$caption-font-size: 12px;
$overline-font-size: 10px;

$h1-line-height: 4.125rem;
$h2-line-height: 3.5625rem;
$h3-line-height: 3rem;
$h4-line-height: 2.5625rem;
$h5-line-height: 2.125rem;
$h6-line-height: 2rem;
$sub1-line-height: 22px;
$sub2-line-height: 20px;
$body1-line-height: 22px;
$body2-line-height: 22px;
$btn-line-height: 14px;
$links-line-height: 17px;
$caption-line-height: 16px;
$overline-line-height: 12px;