// colors
$branco-000: #FFFFFF;
$branco-200: #DDDDDD;

$cinza-000: #E0E0E0;
$cinza-200: #ADADAD;
$cinza-400: #787878;
$cinza-600: #565656;
$cinza-900: #202020;

$preto-000: #000000;

$verde-000: #009E73;
$verde-300: #1C775E;
$verde-600: #245749;
$verde-000: #009E73;

$vermelho-000: #EA1744;

$rosa-300: #EF365D;
$rosa-600: #FF6888;

$vinho-000: #AA0034;
$vinho-600: #D10342;
$vinho-900: #DC104E;

//PastelTones
$vermelho-p-000: #FFD2DB;
$vinho-p-000: #E6B3C2;
$verde-p-000: #b2e2d5;
$cinza-p-000: #F5F5F5;
$rosa-p-300: #fac2ce;